/*
  Importeer Open Sans google font:
  https://fonts.google.com/specimen/Open+Sans?query=open

  en pas het toe
*/

body {
    font-family: 'Open Sans',
        sans-serif;
}

/* oplossing */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

$text-font: 'Open Sans',
sans-serif;

body {
    font-family: $text-font;
}
