/*
    Schrijf volgende CSS naar SCSS gebruik de map uitbreiding van variablen die wij net leerde.
*/

.map .title1 {
    color: darkorange;
}

.map .title2 {
    color: royalblue;
}

.map .title3 {
    color: springgreen;
}