/*
    Zet deze CSS over naar SCSS gebruik variabeles
*/

p {
    font-family: 'Open Sans',
        sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans',
        sans-serif;
    font-weight: bold;
}

i {
    font-family: 'Open Sans',
        sans-serif;
    font-style: italic;
}
